.contenedor{
    background-color:white ;
    border: 1px solid ;
    display: flex ;
    flex-direction : column ;
    justify-content: flex-end;
}

.item1{
    background-color:red ;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}
.item2{
    background-color:blue;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}
.item3{
    background-color:green;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: 10px;
    font-size: 30px;
}
.contenedor2{
    background-color:white ;
    border: 1px solid ;
    display: flex ;
    flex-direction: row-reverse;
    justify-content: center;
}
.contenedor3{
    background-color:white ;
    border: 1px solid ;
    display: flex ;
    flex-direction: space-evenly;
    justify-content: space-evenly;
}