h1{color: blue;text-align: center;}
h2{color: crimson;}
h4{text-align: center;color: gray;}
p{font-style: italic;}
li{font-style: italic;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
